body{
    text-align: center;
    background-color: cadetblue;
}
table{
    margin-left: 490px;
    border-style: solid;
    border-radius: 5px;
    border-color: black;
    background-color: white;
    color: black;
    padding: 20PX;
}
p{
    color: white;
    background-color: black;
    padding: 30PX;
    border-radius: 10px;
}